﻿@model StockModel.Model.Portfolio


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div>
    @{
        <table class="table">
            <tbody>
            <tr>
                <th>#</th>
                <th>Норникель</th>
                <th>Сбербанк</th>
                <th>Газпром</th>
            </tr>
                @for (var i = 0; i < Model.Stocks[0].Close.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model.Stocks[0].Close[i]</td>
                        <td>@Model.Stocks[1].Close[i]</td>
                        <td>@Model.Stocks[2].Close[i]</td>
                    </tr>
                }

            </tbody>
        </table>

    }
</div>

