﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MainPage";
}


<div>
    @{
        <br />
        <br />
        <br />
        <p style="font-size: 200%">This web application is designed to optimize the portfolio of stocks, composed of three different stocks.</p>
        <p style="font-size: 200%">You should place the source file with the data in the folder 'data' inside the folder with the source code.</p>
        <p style="font-size: 200%">The file must have a *.txt extension and the data should be placed with columns between which there is a tab character.</p>
        <br/>
        <p style="font-size: 200%">Or you can just upload the file.</p>

        <h3>Choose a file for uploading</h3>
        <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" /><br>
            <input type="submit" value="Upload" />
        </form>


    }
</div>

