﻿@model List<StockModel.Model.Stock>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profit";
}

<div>
    @{
        <table class="table">
            <tbody>
            <tr>
                <th>#</th>
                <th>Норникель</th>
                <th>Сбербанк</th>
                <th>Газпром</th>
            </tr>
                @for (var i = 0; i < Model[0].Profit.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[0].Profit[i]</td>
                        <td>@Model[1].Profit[i]</td>
                        <td>@Model[2].Profit[i]</td>
                    </tr>
                }

            </tbody>
        </table>

    }
</div>



