﻿@model StockModel.Model.Portfolio


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Stats";
}


<div>
    @{
        <h3>Stats for ProfitData</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Statistics</th>
                <th>Норникель</th>
                <th>Сбербанк</th>
                <th>Газпром</th>
            </tr>

            <tr>
                <th>Average</th>
                @foreach (var st in Model.Stocks)
                {
                    <td>@st.MO</td>
                }
            </tr>
            <tr>
                <th>Variance</th>
                @foreach (var st in Model.Stocks)
                {
                    <td>@st.Disp</td>
                }
            </tr>
            </tbody>
        </table>
        <br/>
        <h3>Stats for Optimized Data</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Cov-Var Matrix</th>
                <th>Норникель</th>
                <th>Сбербанк</th>
                <th>Газпром</th>
            </tr>

            <tr>
                <th>Норникель</th>
                @for (int i = 0; i < 3; i++)
                {
                    <td>@Model.CovMatr[0, i]</td>
                }
            </tr>
            <tr>
                <th>Сбербанк</th>
                @for (int i = 0; i < 3; i++)
                {
                    <td>@Model.CovMatr[1, i]</td>
                }
            </tr>
            <tr>
                <th>Газпром</th>
                @for (int i = 0; i < 3; i++)
                {
                    <td>@Model.CovMatr[2, i]</td>
                }
            </tr>
            </tbody>
        </table>


        <br/>
        <h3>Other Stats</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Parts Of Stocks</th>
                @foreach (var t in Model.Parts)
                {
                    <td>@t</td>
                }
            </tr>
            <tr>
                <th>Variance of Portfolio</th>
                <td colspan="3">@Model.Variance</td>
            </tr>
            <tr>
                <th>Profit Of Portfolio</th>
                <th colspan="3">@Model.ProfitOfPort</th>
            </tr>
            </tbody>
        </table>
    }
</div>


